{% extends 'base.html' %}
        <title>{% block title %}Motocicleta{% endblock title %}</title>            
{% load i18n static %}

{% block content %}
<!-- APP WRAPPER -->
<div class="app app-fh">           

    <!-- START APP CONTAINER -->
    <img class="app-container" src="{% static 'assets/images/background/bg-1.jpg' %}">
        
        <div class="app-lock">
            
            <div class="app-lock-user">
                	<img src="{{ object.image.url }}" width="320" height="100">             
				<form method="post">
					{% csrf_token %}
                    </br>
                    <div class="alert alert-info alert-icon-block alert-dismissible" role="alert"> 
                        <div class="alert-icon">
                            <span class="icon-menu-circle"></span> 
                        </div>
                        <strong>Info!</strong>  ¿Desea eliminar el registro de {{ object.serial_code }}?
                    </div>
					<button class="btn btn-danger" type="submit">Sí, eliminar</button>
					<a class= "btn btn-default" href="">Cancelar</a>
				</form>   
            </div>     
        </div>
                        
    </div>
    <!-- END APP CONTAINER -->
   
</div>        
<!-- END APP WRAPPER -->  
{% endblock content%}