{% extends 'base.html' %}
 {% block title %}Acerda de nosotros{% endblock %}

{% block content %}
			<h1>Acerda de nosotros</h1>
<span>USM  es una empresa  dedicada a la comercialización de motocicletas , venta de repuestos y accesorios <p>para todo  tipo  de modelo y con la prestacion de servicios de mantenimiento preventivo y correctivo a <p>unidades de nuestra marca. USM  está conformado por un equipo interdisciplinario de profesionales,&nbsp; con amplia experiencia en el rubro, ventas, repuestos, mecánica, asesoría en servicios y apoyo al cliente.</span>
<p><p>
<span>1.-  Marca líder  con más de 10 años de trayectoria  comercializando motocicletas.<p>
2.-  Productos con alto nivel de innovación, calidad y diseños exclusivos.<p>
3.-  Amplia variedad de productos destinados a satisfacer las diversas necesidades del mercado.</p>
4.-  La mayor rentabilidad del mercado.</p>
5.-  Asesoramiento y soporte técnico altamente capacitados.</p>
6.-  Asesoramiento y soporte en Marketing.</p>
7.-  Flexibilidad para adaptar productos de acuerdo a los requerimientos y condiciones de
      cada mercado.</p></span>
{% endblock %}
